<%= bootstrap_form_for :session, url: session_path do |form| %>
  <%= form.text_field :email, type: 'email' %>
  <%= form.password_field :password %>

  <div class="mt-4">
    <%= form.submit class: 'btn btn-sm btn-primary' %>
  </div>

  <div class="mt-4 text-sm">
    <% if Clearance.configuration.allow_sign_up? %>
      <%= link_to t(".sign_up"), sign_up_path %> &bull;
    <% end %>
    <%= link_to t(".forgot_password"), new_password_path %>
  </div>
<% end %>
