<div class="row mb-1">
  <div class="col-md-9">
    <h1 class="h3">
      <span class="proj-col-label mr-1" style="background:<%= @project.color %>"></span>
      <%= @project.name %>
    </h1>
  </div>
  <div class="col-md-3 text-right">
    <%= link_to @project, method: :delete, data: { confirm: 'Are you sure you want to delete this project?', toggle: 'tooltip' }, title: 'Delete project', class: 'btn btn-round btn-outline-secondary text-sm' do %>
      <i class="iconly-0129-trash"></i>
    <% end %>
    <%= link_to [:edit, @project], data: { toggle: 'tooltip' }, title: 'Edit project', class: 'btn btn-round btn-outline-secondary text-sm' do %>
      <i class="iconly-0014-pencil"></i>
    <% end %>
    <%= link_to [:new, @project, :task], remote: true, data: { toggle: 'tooltip', replace: '#project-task-' }, title: 'Add new task', class: 'btn btn-round btn-outline-secondary text-sm ml-3' do %>
      <i class="iconly-0823-plus"></i>
    <% end %>
  </div>
</div>

<div class="text-muted mb-4">
  <% if @project.disabled %>
    <span class="badge badge-warning mr-1">Disabled</span>
  <% end %>
  <% if @project.rate.present? %>
    Rate: <%= humanized_money_with_symbol @project.rate %> per hour
  <% end %>
</div>

<div class="item-brd" id="project-task-"></div>

<div id="project-tasks">
  <%= render @project.tasks.order(:name) %>
</div>
